<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap-Web</title>
    <script type="text/javascript" src="{% static 'blog/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'lib/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/web.css' %}">
</head>
<body class="home-template">
    <header class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a class="branding" href="#" title="Web">
                        <img src="{% static 'blog/img/icon.png' %}"/>
                        <h2 class="text-hide">
                            欢迎访问本网站
                        </h2>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <nav class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <span class="nav-toggle-button collapse" data-target="#main-menu">
                            <span class="sr-only"> Toggle Navigation</span>
                            <i class="fa fa-bars"></i>
                        </span>
                    </div>
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="menu">
                            <li class="nav-current" role="presentation">
                                <a href="#">首页</a>
                            </li>
                            <li  role="presentation">
                                <a href="#">论坛</a>
                            </li>
                            <li  role="presentation">
                                <a href="#">快捷手册</a>
                            </li>
                            <li  role="presentation">
                                <a href="#">中文文档</a>
                            </li>
                            <li  role="presentation">
                                <a href="#">下载</a>
                            </li>
                            <li  role="presentation">
                                <a href="#">关于</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="main-footer">
        <div class="container">
            <div class="col-md-4">
                <h4>最新文章</h4>
                <div class="content recent-post">
                    <div class="recent-single-post">
                        <a href="#" class="post-tile">Ghost 桌面版 APP 正式发布，能同时管理多个 Ghost 博客</a>
                        <div class="date">2015-10-10</div>
                    </div>
                    <div class="recent-single-post">
                        <a href="#" class="post-tile">Ghost 桌面版 APP 正式发布，能同时管理多个 Ghost 博客</a>
                        <div class="date">2015-10-10</div>
                    </div>
                    <div class="recent-single-post">
                        <a href="#" class="post-tile">Ghost 桌面版 APP 正式发布，能同时管理多个 Ghost 博客</a>
                        <div class="date">2015-10-10</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        <a href="#">中文</a>
                        <a href="#">英文</a>
                        <a href="#">日文</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget">
                    <h4 class="title">合作伙伴</h4>
                    <div class="content tag-cloud frend-links">
                        <a href="#">Bootstrap中文网</a>
                        <a href="#">Bootstrap中文网</a>
                        <a href="#">Bootstrap中文网</a>
                        <a href="#">Bootstrap中文网</a>
                        <a href="#">Bootstrap中文网</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% block commit %}
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"amoyiki"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
{% endblock %}
</body>
</html>