{% extends 'base.html' %}
{% block content %}
<section class="content-wrap">
        <div class="container">
            <div class="row">
                <main class="col-md-8 main-content">
                    {% load paginate_tags %}
                    {% paginate article_list 2 %}
                    {% for article in article_list %}
                    <article class="post tag-about-ghost tag-ghost-in-depth tag-zhu-shou">
                        <div class="post-head">
                            <h1 class="post-title">
                                <a href="#">{{ article.title }}</a>
                            </h1>
                            <div class="post-meta">
                                <span class="author">
                                    作者
                                    <a href="#">王赛</a>
                                </span>
                                •
                                <time class="date" datetime="{{ article.last_modified_time }}">{{ article.last_modified_time|date:"Y年m月d日" }}</time>
                            </div>
                        </div>
                        <div class="post-content">
                            <p>
                               {{ article.abstract }}
                            </p>
                        </div>
                        <div class="post-permalink">
                            <a href="#" class="btn btn-default">阅读全文</a>
                        </div>
                        <div class="footer clearfix">
                            <hr>
                            <div class="pull-left tag-list">
                                <!--<li class="fa fa-folder-open-o"></li>-->
                                <a href="#">Ghost</a>
                                <a href="#">新版本发布</a>
                                <a href="#">Ghost 0.7 版本</a>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                    <nav class="pagination" role="navigation">
                        <a class="newer-posts" href="#"><i class="fa fa-angle-left"></i></a>
                        <span class="page-number">第 4 页 ⁄ 共 8 页</span>
                        <a class="older-posts" href="#"><i class="fa fa-angle-right"></i></a>
                    </nav>
                </main>
                <aside class="col-md-4 sidebar">
                    <div class="widget">
                        <h4 class="title">社区</h4>
                        <div class="content community">
                            <p>QQ群：277327792</p>
                            <p>
                                <a href="#">问答社区</a>
                            </p>
                            <p>
                                <a href="#">官方微博</a>
                            </p>
                        </div>
                    </div>
                    <div class="widget">
                        <h4 class="title">下载Ghost</h4>
                        <div class="content download">
                            <a href="#" class="btn btn-default btn-block">Ghost中文版</a>
                        </div>
                    </div>
                    <div class="widget">
                        <h4 class="title">标签云</h4>
                        <div class="content tag-cloud">
                            <a href="#">中文</a>
                            <a href="#">英文</a>
                            <a href="#">日文</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}