<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
  
	<!-- 打开Spring的Annotation支持 -->
<!--	<context:annotation-config />-->
	<!-- 设定Spring 去哪些包中找Annotation -->
 <!-- 	<context:component-scan base-package="org.amoyiki" />  -->

	<!-- 导入资源文件 -->
	<context:property-placeholder location="classpath:db.properties"/>
	
	<!-- 定义数据源Bean，使用C3P0数据源实现 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<!-- 指定连接数据库的驱动 -->
		<property name="driverClass" value="${jdbc.driverClass}"/>
		<!-- 指定连接数据库的URL -->
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
		<!-- 指定连接数据库的用户名 -->
		<property name="user" value="${jdbc.user}"/>
		<!-- 指定连接数据库的密码 -->
		<property name="password" value="${jdbc.password}"/>
		<!-- 指定连接数据库连接池的最大连接数 -->
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>
		<!-- 指定连接数据库连接池的最小连接数 -->
		<property name="minPoolSize" value="${jdbc.minPoolSize}"/>
		<!-- 指定连接数据库连接池的初始化连接数 -->
		<property name="initialPoolSize" value="${jdbc.initialPoolSize}"/>
		<!-- 指定连接数据库连接池的连接的最大空闲时间 -->
		<property name="maxIdleTime" value="${jdbc.maxIdleTime}"/>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 依赖注入数据源dataSource -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 自动扫描注解方式配置的hibernate类文件 -->
		<property name="packagesToScan">
            <list>
                <value>org.amoyiki.oa.entities</value>
            </list>
        </property>
		
		<!-- 定义Hibernate的SessionFactory的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="javax.persistence.validation.mode">none</prop>
			</props>
		</property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	
	<!-- Dao 注入 -->
	<bean id="userDao" class="org.amoyiki.oa.dao.imp.UserDaoImp"> 
		<!-- 注入持久化操作所需的SessionFactory -->
	<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	<bean id="treeDao" class="org.amoyiki.oa.dao.imp.TreeDaoImp" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean> 
	<!-- Service 注入 -->
 	<bean id="userService" class="org.amoyiki.oa.service.imp.UserServiceImp">
		<property name="userDao" ref="userDao"/>
	</bean>
	
	
	<!-- Action 注入-->
 	<bean id="userAction" class="org.amoyiki.oa.actions.UserAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean>
	
	<bean id="treeAction" class="org.amoyiki.oa.actions.TreeAction" scope="prototype">
		<property name="treeDao" ref="treeDao" />
	</bean>

</beans>